.g-page {max-width: 1600px; margin: 0 auto;}

input.i-text {line-height: 42px;}

.btn-styled-white {background: url('../images/ie/white35.png') !important;}

.s-primary-slider .info {background: url('../images/ie/black40.png');}
.s-whyus .content .image .legend {background: url('../images/ie/black40.png');}
.s-partners .samples .item .legend {background: url('../images/ie/black60.png');}